PORT=3000
SYSTEM_ACCESS_ENABLED=true
APP_URL=https://gardesa.com.br

DATABASE_URL=postgresql:
AUTH_URL=http://localhost:3000
NEON_AUTH_BASE_URL=https://ep
NEON_AUTH_COOKIE_SAMESITE=lax

BLOB_READ_WRITE_TOKEN=vercel_blob
REPLICATE_API_TOKEN=r8_

ABACATEPAY_API_KEY=...            # chave de API
ABACATEPAY_PUBLIC_KEY=t9dXRhHHo3yDEj5pVDYz0frf7q6bMKyMRmxxCPIPp3RCplBfXRxqlC6ZpiWmOqj4L63qEaeUOtrCI8P0VMUgo6iIga2ri9ogaHFs0WIIywSMg0q7RmBfybe1E5XJcfC4IW3alNqym0tXoAKkzvfEjZxV6bE0oG2zJrNNYmUCKZyV0KZ3JS8Votf9EAWWYdiDkMkpbMdPggfh1EqHlVkMiTady6jOR3hyzGEHrIz2Ret0xHKMbiqkr9HS1JhNHDX9
ABACATEPAY_WEBHOOK_SECRET=...     # segredo que voce escolheu para a URL
ABACATEPAY_API_BASE_URL=https://api.abacatepay.com/v2   # opcional; confirme o host/versao na doc
CRON_SECRET=...                   # segredo aleatorio para proteger o cron

RESEND_API_KEY=re_