PORT=3000
SYSTEM_ACCESS_ENABLED=true
APP_URL=https://gardesa.com.br

DATABASE_URL=postgresql:
AUTH_URL=http://localhost:3000
NEON_AUTH_BASE_URL=https://ep
NEON_AUTH_COOKIE_SAMESITE=lax

BLOB_READ_WRITE_TOKEN=vercel_blob
REPLICATE_API_TOKEN=r8_

RESEND_API_KEY=re_