PORT=3000
SYSTEM_ACCESS_ENABLED=true

DATABASE_URL=postgresql://

RESEND_API_KEY=re_xxxx
RESEND_FROM=Gardesa <oi@gardesa.com.br>

APP_URL=https://gardesa.com.br

# Neon Auth
AUTH_URL=http://localhost:3000
NEON_AUTH_BASE_URL=https://seu-auth-endpoint.neonauth.app
NEON_AUTH_COOKIE_SAMESITE=lax